<nav class="nav flex">
    <ul class="flex">
        <li><a asp-area="" asp-page="/Index">Home</a></li>
        <li><a asp-area="" asp-page="./Movies">Movies</a></li>
        <li><a asp-area="" asp-page="">Shows</a></li>
        <li><a asp-area="" asp-page="">About</a></li>
    </ul>
    <a class="nav-brand" asp-area="" asp-page=""><i class="fa fa-film"></i>  Movie labs</a>
    <ul class="flex">
        <li><a class="icon" asp-area="" asp-page=""><i class="fa fa-search"></i></a></li>
        <li><a class="icon" asp-area="" asp-page=""><i class="fa fa-user"></i></a></li>
        <li><a class="btn" asp-area="" asp-page="">Subscribe</a></li>
    </ul>
</nav>