@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<!-- hero -->
<section class="hero vh-100">
    <img src="~/Images/05.jpg" alt="">
    
    <div class="overlay"></div>
    <div class="wrapper">
        <span class="action"><a href="#" class="icon"><i class="fa fa-youtube-play"></i></a> Watch now</span>

        <div class="hero-text">
            <h2>Into the badlands</h2>
            <div class="subs">
                <ul class="flex">
                    <li>2 months</li>
                    <li><a href="#" class="btn text-white">Action,Drama</a></li>
                    <li><i class="fa fa-eye"></i> 950  views</li>
                </ul>
            </div>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro explicabo distinctio enim et esse exercitationem nesciunt harum mollitia, voluptates laboriosam, eius totam quos consectetur iusto dolor deleniti libero ab delectus!</p>
        </div>
    </div>
</section>

 <!-- trending -->
    <section class="trending vh-50">
        <div class="container">
            <ul class="flex">
                <li><h2>Trending Videos</h2></li>
                <li><a href="#" class="btn text-white">More >></a></li>
            </ul>
            <div class="wrapper flex">
                <div class="movie-card">
                   <div class="img-wrapper">
                        <img src="~/Images/04.png" alt="Movie">
                    <ul class="flex icons">
                        <li><a href="#" class="icon"><i class="fa fa-heart"></i></a></li>
                        <li><a href="#" class="icon"><i class="fa fa-share-alt"></i></a></li>
                        <li><a href="#" class="icon"><i class="fa fa-plus"></i></a></li>
                    </ul>
                   </div>
                    <h4 class="title">Hello World</h4>
                    <ul class="flex">
                        <li>7 Months</li>
                        <li><p class="text-primary">Action</p></li>
                    </ul>
                </div>
                <div class="movie-card">
                   <div class="img-wrapper">
                        <img src="~/Images/02.png" alt="Movie">
                    <ul class="flex icons">
                        <li><a href="#" class="icon"><i class="fa fa-heart"></i></a></li>
                        <li><a href="#" class="icon"><i class="fa fa-share-alt"></i></a></li>
                        <li><a href="#" class="icon"><i class="fa fa-plus"></i></a></li>
                    </ul>
                   </div>
                    <h4 class="title">Hello World</h4>
                    <ul class="flex">
                        <li>7 Months</li>
                        <li><p class="text-primary">Action</p></li>
                    </ul>
                </div>
                <div class="movie-card">
                   <div class="img-wrapper">
                        <img src="~/Images/03.png" alt="Movie">
                    <ul class="flex icons">
                        <li><a href="#" class="icon"><i class="fa fa-heart"></i></a></li>
                        <li><a href="#" class="icon"><i class="fa fa-share-alt"></i></a></li>
                        <li><a href="#" class="icon"><i class="fa fa-plus"></i></a></li>
                    </ul>
                   </div>
                    <h4 class="title">Hello World</h4>
                    <ul class="flex card-footer">
                        <li>7 Months</li>
                        <li><p class="text-primary">Action</p></li>
                    </ul>
                </div>
                <div class="movie-card">
                   <div class="img-wrapper">
                        <img src="~/Images/04.png" alt="Movie">
                    <ul class="flex icons">
                        <li><a href="#" class="icon"><i class="fa fa-heart"></i></a></li>
                        <li><a href="#" class="icon"><i class="fa fa-share-alt"></i></a></li>
                        <li><a href="#" class="icon"><i class="fa fa-plus"></i></a></li>
                    </ul>
                   </div>
                    <h4 class="title">Hello World</h4>
                    <ul class="flex">
                        <li>7 Months</li>
                        <li><p class="text-primary">Action</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Hits -->
    <section class="trending vh-50">
        <div class="container">
            <ul class="flex">
                <li><h2>All Time Hits</h2></li>
                <li><a href="#" class="btn text-white">More >></a></li>
            </ul>
            <div class="wrapper flex">
                <div class="movie-card">
                   <div class="img-wrapper">
                        <img src="~/Images/04.png" alt="Movie">
                    <ul class="flex icons">
                        <li><a href="#" class="icon"><i class="fa fa-heart"></i></a></li>
                        <li><a href="#" class="icon"><i class="fa fa-share-alt"></i></a></li>
                        <li><a href="#" class="icon"><i class="fa fa-plus"></i></a></li>
                    </ul>
                   </div>
                    <h4 class="title">Hello World</h4>
                    <ul class="flex">
                        <li>7 Months</li>
                        <li><p class="text-primary">Action</p></li>
                    </ul>
                </div>
                <div class="movie-card">
                   <div class="img-wrapper">
                        <img src="~/Images/03.png" alt="Movie">
                    <ul class="flex icons">
                        <li><a href="#" class="icon"><i class="fa fa-heart"></i></a></li>
                        <li><a href="#" class="icon"><i class="fa fa-share-alt"></i></a></li>
                        <li><a href="#" class="icon"><i class="fa fa-plus"></i></a></li>
                    </ul>
                   </div>
                    <h4 class="title">Hello World</h4>
                    <ul class="flex">
                        <li>7 Months</li>
                        <li><p class="text-primary">Action</p></li>
                    </ul>
                </div>
                <div class="movie-card">
                   <div class="img-wrapper">
                        <img src="~/Images/02.png" alt="Movie">
                    <ul class="flex icons">
                        <li><a href="#" class="icon"><i class="fa fa-heart"></i></a></li>
                        <li><a href="#" class="icon"><i class="fa fa-share-alt"></i></a></li>
                        <li><a href="#" class="icon"><i class="fa fa-plus"></i></a></li>
                    </ul>
                   </div>
                    <h4 class="title">Hello World</h4>
                    <ul class="flex card-footer">
                        <li>7 Months</li>
                        <li><p class="text-primary">Action</p></li>
                    </ul>
                </div>
                <div class="movie-card">
                   <div class="img-wrapper">
                        <img src="~/Images/01.png" alt="Movie">
                    <ul class="flex icons">
                        <li><a href="#" class="icon"><i class="fa fa-heart"></i></a></li>
                        <li><a href="#" class="icon"><i class="fa fa-share-alt"></i></a></li>
                        <li><a href="#" class="icon"><i class="fa fa-plus"></i></a></li>
                    </ul>
                   </div>
                    <h4 class="title">Hello World</h4>
                    <ul class="flex">
                        <li>7 Months</li>
                        <li><p class="text-primary">Action</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Promo -->
    <section class="promo vh-100">
        <img src="~/Images/06.jpg" alt="">
        <div class="overlay"></div>

        <div class="container-fluid">
            <div class="wrapper">
                <h2>Into the badlands</h2>
                <div class="navs">
                    <ul class="flex">
                        <li>2 months</li>
                        <li><a href="#" class="btn">Action,Drama</a></li>
                        <li><i class="fa fa-eye"></i> 950  views</li>
                    </ul>
                </div>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro explicabo distinctio enim et esse exercitationem nesciunt harum mollitia, voluptates laboriosam, eius totam quos consectetur iusto dolor deleniti libero ab delectus!</p>
                <a href="#" class="btn action"><i class="fa fa-youtube-play"></i> Watch Now</a>
            </div>
        </div>

    </section>

    <!-- liked -->
    <section class="trending vh-50">
        <div class="container">
            <ul class="flex">
                <li><h2>Most Liked Movies</h2></li>
                <li><a href="#" class="btn text-white">More >></a></li>
            </ul>
            <div class="wrapper flex">
                <div class="movie-card">
                   <div class="img-wrapper">
                        <img src="~/Images/04.png" alt="Movie">
                    <ul class="flex icons">
                        <li><a href="#" class="icon"><i class="fa fa-heart"></i></a></li>
                        <li><a href="#" class="icon"><i class="fa fa-share-alt"></i></a></li>
                        <li><a href="#" class="icon"><i class="fa fa-plus"></i></a></li>
                    </ul>
                   </div>
                    <h4 class="title">Hello World</h4>
                    <ul class="flex">
                        <li>7 Months</li>
                        <li><p class="text-primary">Action</p></li>
                    </ul>
                </div>
                <div class="movie-card">
                   <div class="img-wrapper">
                        <img src="~/Images/03.png" alt="Movie">
                    <ul class="flex icons">
                        <li><a href="#" class="icon"><i class="fa fa-heart"></i></a></li>
                        <li><a href="#" class="icon"><i class="fa fa-share-alt"></i></a></li>
                        <li><a href="#" class="icon"><i class="fa fa-plus"></i></a></li>
                    </ul>
                   </div>
                    <h4 class="title">Hello World</h4>
                    <ul class="flex">
                        <li>7 Months</li>
                        <li><p class="text-primary">Action</p></li>
                    </ul>
                </div>
                <div class="movie-card">
                   <div class="img-wrapper">
                        <img src="~/Images/02.png" alt="Movie">
                    <ul class="flex icons">
                        <li><a href="#" class="icon"><i class="fa fa-heart"></i></a></li>
                        <li><a href="#" class="icon"><i class="fa fa-share-alt"></i></a></li>
                        <li><a href="#" class="icon"><i class="fa fa-plus"></i></a></li>
                    </ul>
                   </div>
                    <h4 class="title">Hello World</h4>
                    <ul class="flex card-footer">
                        <li>7 Months</li>
                        <li><p class="text-primary">Action</p></li>
                    </ul>
                </div>
                <div class="movie-card">
                   <div class="img-wrapper">
                        <img src="~/Images/01.png" alt="Movie">
                    <ul class="flex icons">
                        <li><a href="#" class="icon"><i class="fa fa-heart"></i></a></li>
                        <li><a href="#" class="icon"><i class="fa fa-share-alt"></i></a></li>
                        <li><a href="#" class="icon"><i class="fa fa-plus"></i></a></li>
                    </ul>
                   </div>
                    <h4 class="title">Hello World</h4>
                    <ul class="flex">
                        <li>7 Months</li>
                        <li><p class="text-primary">Action</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
